*{
	margin: 0;
	padding: 0;
}

body{
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background: radial-gradient(circle, rgba(242,169,38,1) 0%, rgba(215,215,215,1) 75%);
}

.login{
	width: 360px;
	height: min-content;
	padding: 20px;
	border-radius: 12px;
	background:  rgb(237, 236, 236);
}

.login form .form-group{
	margin-bottom: 12px;
}